.sectionWrapper {
  @apply mb-20 bg-white;
}

.section {
  @apply w-[89vw] max-w-7xl mx-auto;
}

.sectionTitle {
  @apply text-[#1F1D1D] font-bold;
  font-size: 1.375rem;
  font-size: clamp(1.375rem, 1.3rem + 0.375vw, 1.75rem);
}

.underline {
  @apply border-b-4 border-accent;
}

.sectionDesc {
  @apply mt-2 text-[#1F1D1D];
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
}

.cards {
  @apply mt-6 grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 justify-items-center gap-4;
}

.card {
  @apply px-3 py-3 w-full lg:max-w-sm min-h-[7rem] bg-white rounded-2xl border-2 hover:opacity-80  transition-all;
  box-shadow: 0px 3.16046px 23.7035px rgba(0, 0, 0, 0.1);
}

.cardOne {
  @apply hover:border-highlight-light;
}

.cardTwo {
  @apply hover:border-[#cabb38];
}

.cardHeader {
  @apply flex items-start justify-between;
}

.cardType {
  @apply text-[.45rem] md:text-[.5rem] text-white tracking-tighter grid place-items-center px-2.5 py-[.2rem] rounded-2xl;
}

.bgOne {
  @apply bg-highlight-light;
}

.bgTwo {
  @apply bg-[#cabb38];
}

.cardTitle {
  @apply mt-2 font-bold leading-5;
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
}

.cardDesc {
  @apply mt-1 text-[#707070] leading-4 tracking-tight;
  font-size: 0.8125rem;
  font-size: clamp(0.8125rem, 0.8rem + 0.0625vw, 0.875rem);
}
